---
layout: main
permalink: /
paginate:
  collection: products
---

<!-- Catalogue -->
<section class="section-wrap pt-70 pb-40 catalogue">
    <div class="container relative">
        <div class="row">
            <div class="col-md-9 catalogue-col right mb-50">

                {% include product-header.html %}

                {% include shop-filter.html %}

                {% include product-grid.html %}

                {% include pagination.html %}

            </div><!-- end col -->

        {% include sidebar.html %}

        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end catalogue -->

<!-- end catalogue -->



