<!-- Navigation -->
<header class="nav-type-1">

  <nav class="navbar navbar-static-top">
    <div class="navigation" id="sticky-nav">
      <div class="container relative">

        <div class="row">

          <div class="header-wrap">
            <div class="header-wrap-holder">

              <!-- Logo -->
              <div class="logo-container">
                <div class="logo-wrap text-center">
                  <a href="index.html">
                    <img class="logo" src="/assets/images/logo_dark.png" alt="logo">
                  </a>
                </div>
              </div>
            </div>
          </div> <!-- end header wrap -->

          <div class="nav-wrap">
            <div class="collapse navbar-collapse" id="navbar-collapse">


            </div> <!-- end collapse -->
          </div> <!-- end col -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end navigation -->
  </nav> <!-- end navbar -->
</header> <!-- end navigation -->