<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <!-- google verification  -->
    <!-- <meta name="google-site-verification" content="" /> -->

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- favicon icon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700%7CRaleway:300,400,700%7CPlayfair+Display:700'
        rel='stylesheet'>

    <!-- common css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/font-icons.css" />
    <link rel="stylesheet" href="/assets/css/sliders.css" />
    <link rel="stylesheet" href="/assets/css/animate.min.css" />
    <!-- <link rel="stylesheet" href="{{ "/assets/font-awesome.min.css" | prepend: site.baseurl }}">

    <!-- site css -->

    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/style.css" | prepend: site.baseurl }}" />

    <!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.js"></script>
    <![endif]-->



</head>