<!-- <div class="row heading-row">
    <div class="col-md-12 text-center">
        <h2 class="heading uppercase">
            <small>Our Collection</small>
        </h2>
    </div>
</div> -->

<!-- Banner -->
<div class="banner-wrap relative">
    <img src="/assets/images/banner.jpg" alt="">
    <div class="hero-holder text-center right-align">
        <div class="hero-lines mb-0">
        <h1 class="hero-heading white">Halloween Collection</h1>
        <h4 class="hero-subheading white uppercase">LOOK COOL THIS AUTUMN</h4>
        </div>
    </div>
</div>
