<div class="col-md-4 col-xs-6">
    <div class="product-item">
        <div class="product-img">
            <a href="{{ product.url }}">
                {% assign image = (product.images | first) %}
                <img src="{{ image }}" alt="product.alt">
            </a>

            {% if product.sale-price != null %}
                <div class="product-label">
                    <span class="sale">sale</span>
                </div>
            {% endif %}
          
 
        </div>
        <div class="product-details">
            <h3>
                <a class="product-title" href="{{ product.url }}">
                    {{ product.name }}
                </a>
            </h3>

            <span class="price">

            {% if product.sale-price != null %}
                <del>
                    <span>{{ product.price }}</span>
                </del>
                <ins>
                    <span class="ammount">{{ product.sale-price }}</span>
                </ins>
            {% else %}

            <ins>
                <span class="ammount">{{ product.price }}</span>
            </ins>

            {% endif %}

            </span>
        </div>
    </div>
</div>

 
