{% assign size-guide = "/assets/images/sizing-chart-tshirt.jpg" | absolute_url %}


<div class="container size-guide">

    <h3 style="line-height: 45px;">
        Size Guide
    </h3>

    <div class="row table-padding">
        <div class="col-sm-3">
            <img width="90%" alt="little rockstars size guide" src="{{ size-guide }}" />
        </div>
        <div class="col-sm-9">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Height / Age</th>
                            <th>92cm (1-2y)</th>
                            <th>104cm (3-4y)</th>
                            <th>116cm (5-6y)</th>
                            <th>128cm (7-8y)</th>
                            <th>140cm (9-11y)</th>
                            <th>152cm (12-13y)</th>
                            <th>164cm (14-15y)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chest</td>
                            <td>31</td>
                            <td>32</td>
                            <td>34</td>
                            <td>36</td>
                            <td>38</td>
                            <td>40</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Length</td>
                            <td>38</td>
                            <td>43</td>
                            <td>46</td>
                            <td>49</td>
                            <td>52</td>
                            <td>55</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 info-padding">
            <p>
                <b>Width:</b> Measure across garment 2 cm down from armholes.
                <b>Length:</b> Measure from highest point of shoulder to bottom edge of garment.
            </p>

            <p>
                Measures are from the manufacturer. The tolerance is +- 1,5cm. 1 inch = 2,54 cm, 1 cm = 0,39 inch.
            </p>
        </div>

    </div>


</div>