{% assign size-guide = "/assets/images/sizing-chart-tshirt.jpg" | absolute_url
%}

<div class="container size-guide">
    <h3 style="line-height: 45px;">
        Standard Size Guide
    </h3>

    <div class="row table-padding">
        <div class="col-lg-3">
            <img class="img-fluid center-block" style="padding-bottom: 30px;" alt="little rockstars size guide" src="{{ size-guide }}"/>
        </div>
        <div class="col-lg-9">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Age</th>
                            <th>1-2y</th>
                            <th>2-3y</th>
                            <th>3-4y</th>
                            <th>5-6y</th>
                            <th>7-8y</th>
                            <th>9-11y</th>
                            <th>12-13y</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chest</td>
                            <td>31</td>
                            <td>33</td>
                            <td>38</td>
                            <td>40.5</td>
                            <td>43</td>
                            <td>46</td>
                            <td>48.5</td>
                        </tr>
                        <tr>
                            <td>Length</td>
                            <td>38</td>
                            <td>41</td>
                            <td>45</td>
                            <td>50</td>
                            <td>55</td>
                            <td>60</td>
                            <td>65</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container padding">
        <p>
            <b>Width:</b>
            Measure across garment 2 cm down from armholes.
            <b>Length:</b>
            Measure from highest point of shoulder to bottom edge of garment.
        </p>
        <p>
            Measures are from the manufacturer. The tolerance is +- 1.5cm. 1 inch =
                  2.54 cm, 1 cm = 0.39 inch.
        </p>
    </div>
</div>
