{% assign size-guide = "/assets/images/sizing-chart-womens-tank.jpg" | absolute_url
%}

<div class="container size-guide">
    <h3 style="line-height: 45px;">
        Ladies Softstyle Tank Top
    </h3>

    <div class="row table-padding">
        <div class="col-lg-3">
            <img class="img-fluid center-block" style="padding-bottom: 30px;" alt="little rockstars size guide" src="{{ size-guide }}"/>
        </div>
        <div class="col-lg-9">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Size</th>
                            <th>S UK (8/10)</th>
                            <th>M UK (10/12)</th>
                            <th>L UK (12/14) </th>
                            <th>XL UK(14/16)</th>
                            <th>2XL UK(18/20)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chest (cm)</td>
                            <td>40.640</td>
                            <td>43.180</td>
                            <td>46.990</td>
                            <td>49.530</td>
                            <td>55.880</td>
                        </tr>
                        <tr>
                            <td>Length (cm)</td>
                            <td>64.135</td>
                            <td>66.675</td>
                            <td>69.215</td>
                            <td>71.120</td>
                            <td>72.390</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container padding">
        <p>
            <b>Width:</b>
            Measure across garment 2 cm down from armholes.
            <b>Length:</b>
            Measure from highest point of shoulder to bottom edge of garment.
        </p>
        <p>
            Measures are from the manufacturer. The tolerance is +- 2.5cm.
        </p>
    </div>
</div>
