<!-- Catalogue -->

<section class="section-wrap pt-70 pb-40 catalogue">
    <div class="container relative">
        <div class="row">
            <div class="col-md-12 catalogue-col right mb-50">
                <div class="shop-catalogue grid-view">

                    <div class="row row-10 items-grid">

                        {% for product in site.products %}

                        <div class="col-md-4 col-xs-6">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="{{ product.image1 }}" alt="">
                                    </a>
                                    <!-- <div class="product-label">
                                        <span class="sale">sale</span>
                                    </div> -->

                                    <a href="#" class="product-quickview">Quick View</a>
                                </div>
                                <div class="product-details">
                                    <h3>
                                        <a class="product-title" href="shop-single-product.html">
                                            {{ product.name }}
                                        </a>
                                    </h3>
                                    <span class="price">
                                        <!-- <del>
                                            <span>$388.00</span>
                                        </del> -->
                                        <ins>
                                            <span class="ammount">{{ product.price }}</span>
                                        </ins>
                                    </span>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div> <!-- end row -->
                </div> <!-- end grid mode -->
                <div class="clear"></div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>

<!-- end catalogue -->