
<!-- Related Items -->
<section class="section-wrap related-products pt-0">
    <div class="container">
        <div class="row heading-row">
            <div class="col-md-12 text-center">
                <h2 class="heading uppercase">
                    <small>Related Products</small>
                </h2>
            </div>
        </div>

        <div class="row row-10">

            <div class="owl-carousel owl-theme nopadding" id="owl-related-products">

                <div class="product-item">
                    <div class="product-img">
                        <a href="#">
                            <img alt="" src="/assets/images/shop/shop_item_1.jpg">
                            <img alt="" class="back-img" src="/assets/images/shop/shop_item_1_back.jpg">
                        </a>
                        <div class="product-label">
                            <span class="sale">sale</span>
                        </div>
                        <div class="product-actions">
                            <a class="product-add-to-compare" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to compare">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="product-add-to-wishlist" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <a class="product-quickview" href="#">Quick View</a>
                    </div>
                    <div class="product-details">
                        <h3>
                            <a class="product-title" href="shop-single-product.html">Night Party Dress</a>
                        </h3>
                        <span class="price">
                            <del>
                                <span>$388.00</span>
                            </del>
                            <ins>
                                <span class="ammount">$159.99</span>
                            </ins>
                        </span>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-img">
                        <a href="#">
                            <img alt="" src="/assets/images/shop/shop_item_2.jpg">
                            <img alt="" class="back-img" src="/assets/images/shop/shop_item_2_back.jpg">
                        </a>
                        <div class="product-actions">
                            <a class="product-add-to-compare" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to compare">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="product-add-to-wishlist" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <a class="product-quickview" href="#">Quick View</a>
                    </div>
                    <div class="product-details">
                        <h3>
                            <a class="product-title" href="shop-single-product.html">Elegant White Dress</a>
                        </h3>
                        <span class="price">
                            <ins>
                                <span class="ammount">$219.00</span>
                            </ins>
                        </span>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-img">
                        <a href="#">
                            <img alt="" src="/assets/images/shop/shop_item_3.jpg">
                            <img alt="" class="back-img" src="/assets/images/shop/shop_item_3_back.jpg">
                        </a>
                        <span class="sold-out valign">out of stock</span>
                        <div class="product-actions">
                            <a class="product-add-to-compare" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to compare">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="product-add-to-wishlist" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <a class="product-quickview" href="#">Quick View</a>
                    </div>
                    <div class="product-details">
                        <h3>
                            <a class="product-title" href="shop-single-product.html">Long Black Dress</a>
                        </h3>
                        <span class="price">
                            <ins>
                                <span class="ammount">$99.00</span>
                            </ins>
                        </span>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-img">
                        <a href="#">
                            <img alt="" src="/assets/images/shop/shop_item_4.jpg">
                            <img alt="" class="back-img" src="/assets/images/shop/shop_item_4_back.jpg">
                        </a>
                        <div class="product-actions">
                            <a class="product-add-to-compare" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to compare">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="product-add-to-wishlist" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <a class="product-quickview" href="#">Quick View</a>
                    </div>
                    <div class="product-details">
                        <h3>
                            <a class="product-title" href="shop-single-product.html">Sexy Pink Dress</a>
                        </h3>
                        <span class="price">
                            <ins>
                                <span class="ammount">$120.00</span>
                            </ins>
                        </span>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-img">
                        <a href="#">
                            <img alt="" src="/assets/images/shop/shop_item_5.jpg">
                            <img alt="" class="back-img" src="/assets/images/shop/shop_item_5_back.jpg">
                        </a>
                        <div class="product-actions">
                            <a class="product-add-to-compare" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to compare">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="product-add-to-wishlist" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <a class="product-quickview" href="#">Quick View</a>
                    </div>

                    <div class="product-details">
                        <h3>
                            <a class="product-title" href="shop-single-product.html">Minty Dress</a>
                        </h3>
                        <span class="price">
                            <ins>
                                <span class="ammount">$399.00</span>
                            </ins>
                        </span>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-img">
                        <a href="#">
                            <img alt="" src="/assets/images/shop/shop_item_6.jpg">
                            <img alt="" class="back-img" src="/assets/images/shop/shop_item_6_back.jpg">
                        </a>
                        <div class="product-label">
                            <span class="sale">sale</span>
                        </div>
                        <div class="product-actions">
                            <a class="product-add-to-compare" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to compare">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="product-add-to-wishlist" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <a class="product-quickview" href="#">Quick View</a>
                    </div>

                    <div class="product-details">
                        <h3>
                            <a class="product-title" href="shop-single-product.html">Sexy White Dress</a>
                        </h3>
                        <span class="price">
                            <ins>
                                <span class="ammount">$119.00</span>
                            </ins>
                        </span>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-img">
                        <a href="#">
                            <img alt="" src="/assets/images/shop/shop_item_7.jpg">
                            <img alt="" class="back-img" src="/assets/images/shop/shop_item_7_back.jpg">
                        </a>
                        <div class="product-actions">
                            <a class="product-add-to-compare" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to compare">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="product-add-to-wishlist" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <a class="product-quickview" href="#">Quick View</a>
                    </div>

                    <div class="product-details">
                        <h3>
                            <a class="product-title" href="shop-single-product.html">Elegant Pink Dress</a>
                        </h3>
                        <span class="price">
                            <ins>
                                <span class="ammount">$1379.00</span>
                            </ins>
                        </span>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-img">
                        <a href="#">
                            <img alt="" src="/assets/images/shop/shop_item_8.jpg">
                            <img alt="" class="back-img" src="/assets/images/shop/shop_item_8_back.jpg">
                        </a>
                        <div class="product-label">
                            <span class="sale">sale</span>
                        </div>
                        <div class="product-actions">
                            <a class="product-add-to-compare" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to compare">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="product-add-to-wishlist" data-placement="bottom" data-toggle="tooltip" href="#" title="Add to wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <a class="product-quickview" href="#">Quick View</a>
                    </div>

                    <div class="product-details">
                        <h3>
                            <a class="product-title" href="shop-single-product.html">Gray California Dress</a>
                        </h3>
                        <span class="price">
                            <del>
                                <span>$350.00</span>
                            </del>
                            <ins>
                                <span class="ammount">$150.00</span>
                            </ins>
                        </span>
                    </div>
                </div>

            </div>
            <!-- end owl -->

        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end related products -->