<!-- Sidebar -->
<aside class="col-md-3 sidebar left-sidebar">

    <!-- Categories -->
    <!-- <div class="widget categories">
            <h3 class="widget-title uppercase">Categories</h3>
            <ul class="list-no-dividers">
                <li>
                    <a href="#">Women</a>
                </li>
                <li class="active-cat">
                    <a href="#">Men</a>
                </li>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">Bags</a>
                </li>
                <li>
                    <a href="#">Watches</a>
                </li>
                <li>
                    <a href="#">Shoes</a>
                </li>
            </ul>
        </div> -->

    <div class="widget categories">
        <h3 class="widget-title uppercase">Categories</h3>
        <ul class="list-no-dividers">

<!--             
            {% for product in site.products %}
                {% for category in product.categories %}
                {% capture product_categories %}
                    {% if product_categories %}
                    {{ product_categories | join: "," }},{{ category }}
                    {% else %}
                    {{ category }}
                    {% endif %}
                {% endcapture %}
                {% endfor %}
            {% endfor %}
            
            {% assign unique_categories = product_categories | split: "," | uniq %}
            {% for cat in unique_categories %}
            {% assign my_cats = site.my_categories | where: "slug", cat %}
                <li>
                    <a href="{{ cat }}">{{ cat }}</a>
                </li>
            {% endfor %} -->

            {% for cat in site.my_categories %}
                <li>
                    <a href="{{ cat.url }}">{{ cat.name }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>


    <!-- Select size -->
    <div class="widget categories">
        <h3 class="widget-title uppercase">Select size</h3>
        <ul class="list-no-dividers">
            <li>
                <a href="#">Large</a>
            </li>
            <li>
                <a href="#">Medium</a>
            </li>
            <li>
                <a href="#">Small</a>
            </li>
            <li>
                <a href="#">X-Large</a>
            </li>
            <li>
                <a href="#">X-Small</a>
            </li>
        </ul>
    </div>

    <!-- Select color -->
    <div class="widget categories">
        <h3 class="widget-title uppercase">Select color</h3>
        <ul class="list-no-dividers">
            <li>
                <a href="#">White</a>
            </li>
            <li>
                <a href="#">Grey</a>
            </li>
            <li>
                <a href="#">Black</a>
            </li>
            <li>
                <a href="#">Pink</a>
            </li>
            <li>
                <a href="#">Green</a>
            </li>
        </ul>
    </div>

    <!-- Bestsellers -->
    <div class="widget bestsellers">
        <div class="products-widget">
            <h3 class="widget-title uppercase">Bestsellers</h3>
            <ul class="product-list-widget">
                <li class="clearfix">
                    <a href="shop-single-product.html">
                        <img src="/assets/images/shop_item_9.jpg" alt="">
                        <span class="product-title">Sleeveless dress</span>
                    </a>
                    <span class="price">
                        <ins>
                            <span class="ammount">$120.00</span>
                        </ins>
                    </span>
                </li>
                <li class="clearfix">
                    <a href="shop-single-product.html">
                        <img src="/assets/images/shop_item_10.jpg" alt="">
                        <span class="product-title">Violet Party Dress</span>
                    </a>
                    <span class="price">
                        <ins>
                            <span class="ammount">$179.00</span>
                        </ins>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Tags -->
    <div class="widget tags clearfix">
        <h3 class="widget-title uppercase">Tags</h3>
        <a href="#">Multi-purpose</a>
        <a href="#">Creative</a>
        <a href="#">Elegant</a>
        <a href="#">Clean</a>
        <a href="#">Modern</a>
        <a href="#">Responsive</a>
        <a href="#">E-commerce</a>
        <a href="#">WordPress</a>
        <a href="#">Woocommerce</a>
        <a href="#">Store</a>
        <a href="#">Business</a>
    </div>

</aside> <!-- end sidebar -->