---
layout: main
paginate:
  collection: products
---

<!-- Catalogue -->
<section class="section-wrap pt-70 pb-40 catalogue">
    <div class="container relative">
        <div class="row">
            <div class="col-md-9 catalogue-col right mb-50">

                {% include product-header.html %}

                <div class="shop-catalogue grid-view">

                    <div class="row heading-row">
                        <div class="col-md-12 text-center">
                            <h2 class="heading uppercase">
                                <small>{{ page.name }} Collection</small>
                            </h2>
                        </div>
                    </div>
                    <div class="row row-10 items-grid">
                        {% assign stock = site.products | where: "categories", page.slug  %}
                        {% for product in stock %}
                            {% include product-item.html %}
                        {% endfor %}
                    </div>
                </div>

            </div><!-- end col -->

            {% include sidebar.html %}

        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end catalogue -->

<!-- end catalogue -->
