---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include ebay-description/head.html %}

<style type="text/css">
    <!-- 
    #ebay-description {
        min-height: 4000px !Important;
    }
    -->
</style>

{% if page.prefetch %}
<link rel="prefetch" href="{{ page.prefetch }}">
<link rel="prerender" href="{{ page.prefetch }}">
{% endif %}

<body>
    <main id="ebay-description" class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
</body>


</html>