---
layout: main
---


{% assign product = page %}


   <!-- Single Product -->
   <section class="section-wrap single-product">
    <div class="container relative">
      <div class="row">

        <div class="col-sm-6 col-xs-12 mb-60">

          <div class="flickity flickity-slider-wrap mfp-hover" id="gallery-main">
    
            <!-- gallery main -->
                {% for image in product.images %}
                    <div class="gallery-cell">
                        <a href="{{ image }}" class="lightbox-img">
                            <img src="{{ image }}" alt=""/>
                            <i class="icon arrow_expand"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- end gallery main -->

            <div class="gallery-thumbs">
                {% for image in product.images %}
                    <div class="gallery-cell">
                        <img src="{{ image }}" alt=""/>
                    </div>
                {% endfor %}
            </div>
            <!-- end gallery thumbs -->
        </div> <!-- end col img slider -->

        <div class="col-sm-6 col-xs-12 product-description-wrap">
            <h1 class="product-title">{{ product.name }}</h1>
            <h2 class="product-title">{{ product.subtitle }}</h2>
            <span class="posted_in">Category:
                {% for productcategory in product.categories %}
                    {% assign category = site.my_categories | where: "slug", productcategory | first %}
                    <a href="{{ category.url }}">{{ category.name}}</a>
                {% endfor %}
            </span>
     
          <span class="price">
            <del>
              <span>$1550.00</span>
            </del>
            <ins>
                <span class="ammount">{{ product.price }}</span>
            </ins>
          </span>
          <ul class="product-description">
            {% for bullet in product.bullet-points %}
                <li>{{ bullet }}</li>
            {% endfor %}
         </ul>

          <div class="select-options">
            <div class="row row-20">
              <div class="col-sm-6">
                <select class="color-select">
                  <option value>Select color</option>
                  <option value="white">white</option>
                  <option value="grey">grey</option>
                  <option value="black">black</option>
                  <option value="green">green</option>
                  <option value="blue">blue</option>
                </select>
              </div>

              <div class="col-sm-6">
                <select class="size-options">
                  <option value>Select size</option>
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                </select>
              </div>
            </div>
          </div>

          <ul class="product-actions clearfix">
            <li>
              <a href="#" class="btn btn-color btn-lg add-to-cart left"><span>Add to Cart</span></a>
            </li> 
            <li>
                
            </li>                
            <li>
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus" />
                <input type="number" step="1" min="0" value="1" title="Qty" class="input-text qty text" />
                <input type="button" value="+" class="plus" />
              </div>
            </li>          
          </ul>

          <div class="product_meta">

            <span class="sku">SKU: <a href="#">111763</a></span>

            <div class="widget tags clearfix">
                <h3 class="widget-title uppercase">Tags</h3>
                {% for producttag in product.tags %}
                    {% assign tag = site.my_tags | where: "slug", producttag | first %}
                    <a href="{{ tag.url }}">{{ tag.name}}</a>
                {% endfor %}
            </div>

          </div>

          <div class="socials-share clearfix">
            <div class="social-icons rounded">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-vimeo"></i></a>
            </div>
          </div>
        </div> <!-- end col product description -->
      </div> <!-- end row -->

      <!-- tabs -->
      <div class="row">
        <div class="col-md-12">
          <div class="tabs tabs-bb">
            <ul class="nav nav-tabs">                                 
              <li class="active">
                <a href="#tab-description" data-toggle="tab">Description</a>
              </li>                                 
              <li>
                <a href="#tab-info" data-toggle="tab">Size Chart</a>
              </li>                                                               
            </ul> <!-- end tabs -->
            
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-description">
                    <h3 style="line-height: 45px;">
                        Product Description
                    </h3>
                    <p>
                        {{ product.description }}
                    </p>
                </div>
                <div class="tab-pane fade" id="tab-info">
                    {% include product-size-chart-standard.html %}
                </div>
            </div>
            <!-- end tab content -->

          </div>
        </div> <!-- end tabs -->
      </div> <!-- end row -->

      
    </div> <!-- end container -->
  </section> <!-- end single product -->

