<hr />
<div class="container">
    <h3 class="h3">Our Featured Products</h3>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="product-grid8">
                <div class="product-image8"><a href="#"><img class="pic-1"
                            src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-1.jpg" /> <img
                            class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-2.jpg" />
                    </a>

                    <ul class="social">
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                    <span class="product-discount-label">-20%</span>
                </div>

                <div class="product-content">
                    <div class="price">&pound; 8.00 <span>&pound; 10.00</span></div>
                    <span class="product-shipping">Free Shipping</span>

                    <h3 class="title"><a href="#">Women&#39;s Plain Top</a></h3>
                    <a class="all-deals" href="">See all deals </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="product-grid8">
                <div class="product-image8"><a href="#"><img class="pic-1"
                            src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-3.jpg" /> <img
                            class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-4.jpg" />
                    </a>

                    <ul class="social">
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                    <span class="product-discount-label">-30%</span>
                </div>

                <div class="product-content">
                    <div class="price">&pound; 7.00 <span>&pound; 10.00</span></div>
                    <span class="product-shipping">Free Shipping</span>

                    <h3 class="title"><a href="#">Women&#39;s Designer Top</a></h3>
                    <a class="all-deals" href="">See all deals </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="product-grid8">
                <div class="product-image8"><a href="#"><img class="pic-1"
                            src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-5.jpg" /> <img
                            class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-6.jpg" />
                    </a>

                    <ul class="social">
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                    <span class="product-discount-label">-20%</span>
                </div>

                <div class="product-content">
                    <div class="price">&pound; 8.00 <span>&pound; 10.00</span></div>
                    <span class="product-shipping">Free Shipping</span>

                    <h3 class="title"><a href="#">Women&#39;s Plain Top</a></h3>
                    <a class="all-deals" href="">See all deals </a>
                </div>
            </div>
        </div>
    </div>
</div>