<div class="container">
    <h2>Check out our other items available ...</h2>
    <div class="row">

        {% assign filteredProducts = site.products 
            | where_exp: "product", "product.id != include.productId" 
            | sort: "order", "first" 
        %}

        {% for product in filteredProducts | limit:4 %}
        {% assign image = (product.image-url) | absolute_url %}
        {% assign alt = (product.product-alt) %}

        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="{{ product.ebay-url }}">
                        <img class="pic-1" src="{{ image }}" alt="{{ alt }}" />
                    </a>
                </div>

                <!-- {{ include.productId }} - {{ product.id }} -->
                <!-- {{ product.tag }} - {{ (include.tag) }} -->
                <div class=" product-content">
                    <h3 class="title"><a href="{{ product.ebay-url }}">{{ product.name }}</a></h3>
                    <div class="price">{{ product.price }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>