{% assign description = (include.description) %}
{% assign size-description = (include.size-description) %}
{% assign colour-description = (include.colour-description) %}
{% assign image1 = (include.image1) | absolute_url %}
{% assign image2 = (include.image2) | absolute_url %}
{% assign alt = (include.alt) %}
{% assign contact = 'https://www.ebay.co.uk/contact/sendmsg?&recipient=littlerockstarsclothing&message_type_id=14' %}
{% assign feedback = 'https://www.ebay.co.uk/fdbk/feedback_profile/littlerockstarsclothing' %}


<div class="product-details">
    <div class="container padding">
        <div class="col-12 col-md-12">
            <div typeof="Product" vocab="https://schema.org/">
                <p>
                    <span property="description">
                        {{ description }}
                    </span>
                </p>
            </div>

            {% if image2 == null %}
            <div class="row">
                <div class="col-sm">
                    <img style="width: 80%;" alt="{{ alt }}" class="mx-auto d-block img-fluid image-padding"
                        src="{{ image1 }}" />
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-sm">
                    <img alt="{{ alt }}" class="mx-auto d-block img-fluid image-padding" src="{{ image1 }}" />
                </div>
                <div class="col-sm">
                    <img alt="{{ alt }}" class="mx-auto d-block img-fluid image-padding" src="{{ image2 }}" />
                </div>
            </div>
            {% endif %}

            <div class="col-12 col-md-12 top-padding">
                <p>
                    {{ size-description }}
                    Don't see a colour you want, <a href="{{ contact }}"> contact us </a> to see what's available.
                </p>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img alt="little rockstars - free shipping and quality stock" class="img-fluid"
                        src="/assets/images/products/folded-image.jpg" />
                </div>
                <div class="col-md-8 col-sm-8" style="padding-top: 100px;">
                    <ul>
                        <li>
                            <b>Colours available:</b> {{ colour-description }}
                        </li>
                        <li>
                            <b>Material:</b> Material composition: 100% Cotton.
                        </li>
                        <li>
                            <b>Quality:</b>Premium quality garment ethically produced kids clothing.
                        </li>
                        <li>
                            <b>Garment Care:</b> Machine Washable at 40 Degrees, Tumble Dry on low, Iron inside out.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container padding">
                <h4>Packaging & Free Shipping</h4>
                <p>
                    We package all our items carefully to ensure they arrive safely. Please contact us if you have
                    questions
                    about packaging standards. We will ship all orders within 2 business days of payment.
                </p>

                <h4>Delivery</h4>
                <p>
                    We typically ship according to the following criteria:
                    Royal Mail 2nd Class Package 2-3 business days
                    Times determined by carrier and are subject to change.
                    We ship all post via Royal Mail. Check shipping tab for exact details.
                </p>

                <p>
                    <i>*delivery times are after production and handling.</i>
                </p>

                <h4>Our Returns Policy</h4>
                <p>
                    All of our items are backed by eBay's 30-day return policy. Buyer is responsible for return
                    shipping.
                </p>

                <h4>Give Us FeedBack</h4>
                <p>
                    If you like our products, supports us by giving <a href="{{ feedback }}">feedback</a>.
                    We take our reputation seriously. If you are unsatisfied by your order, please contact us
                    and we will work with you to resolve it to your satisfaction.
                </p>
            </div>
        </div>
    </div>