{% assign parcel = "/assets/images/parcel.svg" | absolute_url %}
{% assign shipped = "/assets/images/shipped.svg" | absolute_url %}
{% assign contact = "/assets/images/contact.svg" | absolute_url %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 padding">
            <img alt="Product" class="mx-auto d-block img-fluid" src="{{ parcel }}" style="width: 20%;"
                title="Product" />
            <h2>
                Our Products
            </h2>
            <p>
                We design and decorate all of our top quality garments with our own Little Rockstars original artwork.
            </p>
        </div>

        <div class="col-12 col-md-4 padding">
            <img alt="Shipping" class="mx-auto d-block img-fluid" src="{{ shipped }}" style="width: 20%;"
                title="Shipping" />
            <h2>
                Free Shipping
            </h2>

            <p>
                We make all our items to order which can take up to two
                business days and usually ship 2nd class post as soon as it's ready.
            </p>
        </div>

        <div class="col-12 col-md-4 padding">
            <img alt="Contact" class="mx-auto d-block img-fluid" src="{{ contact }}" style="width: 20%;"
                title="Contact" />
            <h2>
                Contact Us
            </h2>

            <p>
                We also can offer personalised designs, so get in touch if you don't see it available.
            </p>
        </div>
    </div>
</div>